
:root {
    --bg-color: #b3cee5;
    --text-color: #418ed1;
    --hover-color: #007bff;
    --about-color: white;
    --airplane-color: white;
    --trail-color: whitesmoke;

    --title-size: calc(40px + 2vmin);
    --text-size: calc(10px + 2vmin);
}

body {
    position: relative;
    background-color: var(--bg-color);
    font-family: Menlo, monospace;
    text-align: center;
    /* transform: translate(0, 10%); */
    color: var(--text-color);
    max-height: 100%;
}

.main {
    padding: 25px;
}

.about {
    color: var(--about-color);
}

.title {
    font-size: var(--title-size);
}

.description {
    margin: 0;
}

.links {
    color: var(--text-color);
}

.links::after {
    content: "\a";
    white-space: pre;
}

p,
h2,
a {
    font-size: var(--text-size);
}

.navigation {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
    /* border-bottom: 2px solid var(--about-color); */
}

.navigation a {
    padding: 5px 15px;
    text-decoration: none; /* Remove underline from links */
    color: var(--text-color);
    font-size: var(--text-size);
    /* border-right: 2px solid var(--about-color); */
}

.navigation a:hover {
    color: var(--hover-color);
}

.typewriter {
    overflow: hidden;
    border-right: .15em solid var(--about-color);
    white-space: nowrap;
    text-align: left;
    width: 0;
    animation:
        typing 1s steps(20, end) forwards,
        blink .8s infinite;
}

.about {
    display: inline-block;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink {
    from {
        border-color: transparent;
    }

    to {
        border-color: var(--about-color)
    }
}