:root {
    --bg-color: #b3cee5;
    --text-color: #418ed1;
    --about-color: white;
    --airplane-color: white;
    --trail-color: whitesmoke;
}

body {
    position: relative;
    background-color: var(--bg-color);
    font-family: Menlo, monospace;
    text-align: center;
    transform: translate(0, 10%);
    color: var(--text-color);
    max-height: 100%;
}

.main {
    padding: 25px;
}

.about {
    color: var(--about-color);
}

.title {
    font-size: calc(40px + 2vmin);
}

.description {
    margin: 0;
}

.links {
    color: var(--text-color);
}

.links::after {
    content: "\a";
    white-space: pre;
}

p,
h2,
a {
    font-size: calc(10px + 2vmin);
}

.typewriter {
    overflow: hidden;
    border-right: .15em solid var(--about-color);
    white-space: nowrap;
    text-align: left;
    width: 0;
    animation:
        typing 1s steps(20, end) forwards,
        blink .8s infinite;
}

.about {
    display: inline-block;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink {
    from {
        border-color: transparent;
    }

    to {
        border-color: var(--about-color)
    }
}

/* .airplane-container {
    position: absolute;
    left: 0;
    top: 9px;
    padding: 0;
    width: 100%;
    height: 100%;
}

.airplane-container .dot{
    position: absolute;
    border-radius: 50%;
    background-color: var(--airplane-color);
} */

section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.1);
    animation: animate 3s linear infinite;
}

span::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}

span:nth-child(1) {
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0s;
    animation-duration: 1s;
}

span:nth-child(2) {
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}

span:nth-child(3) {
    top: 80;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}